# **INDEXING AND SLICING**

## **INDEXING**

Indexing digunakan untuk mengakses elemen tunggal dari sebuah data berdasarkan posisi tertentu.
misal :
1. ingin mengetahui harga saham di hari pertama dan hari terakhir transaksi
2. mengetahui catatan medis pasien pada hari tertentu (misal hari rabu)
3. melihat produk katalog yang berada di posisi pertama.

In [1]:
#example
nilai_mahasiswa = [85,70,90,78,88,77]
nilai_pertama = nilai_mahasiswa[0] #melihat nilai mahasiswa yang pertama
#ingat indexing pada python itu dimulai dengan angka 0, atau urutan pertama itu dilambangkan dengan angka 0

In [2]:
print(nilai_pertama)

85

#### Memeriksa atau memvalidasi data dengan indexing

In [3]:
#case 1 : diperlukan pemeriksaan pada karakter pertama dari string untuk menentukan apakah itu huruf vokal atau bukan
nama = ['a','y','u']
if nama[0].lower() in 'aiueo' :
  print("Huruf Vokal")

Huruf Vokal

#### Mengubah atau mengupdate nilai elemen
perlu di ingat bahwa data structure yang dapat diubah hanya data yang berbentuk list karena **tuple dan string** bersifat immutable

In [4]:
#Case 1 : mengupdate nilai dalam daftar
nilai_mahasiswa[2]=85 #mengubah nilai ketiga

In [5]:
print(nilai_mahasiswa) #terlihat bahwa nilai ketiga yang awalnya 90 berubah menjadi 85.

[85, 70, 85, 78, 88, 77]

## **SLICING**
Slicing digunakan untuk mengakses subset dari elemen-elemen dari suatu struktur data berdasarkan rentang indeks.
1. Mengambil subset data -> ketika diperlukan untuk mengambil sebagian elemen dari list, tuple, atau string.

  case 1 : mengambil tiga elemen pertama dari daftar
2. Menduplikasi struktur data ->digunakan untuk membuat salinan dari list, tuple atau string.
   
   case 2 : membuat salinan dari list untuk diubah tanpa mempengaruhi list asli.

3. Memanipulasi data -> memanipulasi atau mengubah subset dari elemen-elemen

   case 3 : mengganti subset dari elemen dalam list.

4. Membalikan urutan -> digunakan untuk membalikkan urutan elemen dalam list, tuple atau string

   case 4 : membalikkan urutan string

5. Mengambil elemen dengan interval tertentu
   
   case 5 : mengambil setiap elemen kedua dari list


slicing pada kehidupan sehari-hari biasa digunakan untuk =

 - mengambil subset produk untuk menampilkan halaman tertentu dalam hasil pencarian
 - mengambil data harga saham untuk periode tertentu (misal seminggu terakhir)
 - mengambil subset catatan medis untuk analisis trend kesehatan selama periode tertenu.

In [6]:
#case 1 : mengambil tiga elemen pertama dari daftar
sublist = nilai_mahasiswa[:3]
print(sublist)

[85, 70, 85]

In [7]:
#case 2 : membuat salinan dari list untuk diubah tanpa mempengaruhi list asli.
salinan_list = nilai_mahasiswa[:]
print(salinan_list)

[85, 70, 85, 78, 88, 77]

In [8]:
#case 3 : mengganti subset dari elemen dalam list
nilai_mahasiswa [1:3]=[91,74]
print(nilai_mahasiswa)

[85, 91, 74, 78, 88, 77]

In [9]:
#case 4 : membalikkan urutan string
sapaan = "Hallo"
sapaan_balik = sapaan[::-1]
print(sapaan_balik)

ollaH

In [10]:
#case 5 : mengambil setiap elemen kedua dari list
elemen_ganjil = nilai_mahasiswa[::2]
print(elemen_ganjil)

[85, 74, 88]

In [11]:
# Daftar produk di katalog
produk_katalog = [
    {"id": 101, "nama": "Laptop", "harga": 15000000},
    {"id": 102, "nama": "Smartphone", "harga": 5000000},
    {"id": 103, "nama": "Tablet", "harga": 3000000},
    {"id": 104, "nama": "Smartwatch", "harga": 2000000},
    {"id": 105, "nama": "Kamera", "harga": 7000000}
]

#mengambil subset produk untuk halaman pertama (2 produk per bulan)
produk_halaman_pertama = produk_katalog[:2]
print("Produk di halaman pertama",produk_halaman_pertama)

Produk di halaman pertama [{'id': 101, 'nama': 'Laptop', 'harga': 15000000}, {'id': 102, 'nama': 'Smartphone', 'harga': 5000000}]

In [12]:
# Harga saham dalam seminggu terakhir
harga_saham = [150, 152, 149, 153, 155, 157, 160]

#mengambil harga saham dari 3 hari terakhir
harga_tiga_hari_terakhir=harga_saham[-3:]
print("Harga saham 3 hari terakhir",harga_tiga_hari_terakhir)

Harga saham 3 hari terakhir [155, 157, 160]

In [13]:
# Catatan medis pasien dalam 1 minggu
catatan_medis = [
    {"hari": "Senin", "tekanan_darah": 120, "denyut_nadi": 80},
    {"hari": "Selasa", "tekanan_darah": 125, "denyut_nadi": 82},
    {"hari": "Rabu", "tekanan_darah": 118, "denyut_nadi": 78},
    {"hari": "Kamis", "tekanan_darah": 122, "denyut_nadi": 81},
    {"hari": "Jumat", "tekanan_darah": 121, "denyut_nadi": 80},
    {"hari": "Sabtu", "tekanan_darah": 119, "denyut_nadi": 79},
    {"hari": "Minggu", "tekanan_darah": 123, "denyut_nadi": 83}
]
#mengambil catatan medis untuk 3 hari terakhir
catatan_tiga_hari_terakhir = catatan_medis [-3:]
print("Catatan medis 3 hari terakhir", catatan_tiga_hari_terakhir)

Catatan medis 3 hari terakhir [{'hari': 'Jumat', 'tekanan_darah': 121, 'denyut_nadi': 80}, {'hari': 'Sabtu', 'tekanan_darah': 119, 'denyut_nadi': 79}, {'hari': 'Minggu', 'tekanan_darah': 123, 'denyut_nadi': 83}]

## **PENERAPAN INDEXING DAN SLICING**

### **Soal 1**

Data analyst dalam sebuah perusahaan e-commerce mendapatkan data penjualan produk dalam satu bulan terakhir dalam bentuk list.

Data analyst diberikan tugas untuk melakukan memecahkan beberapa masalah berikut :

1. produk apa yang terjual kedua?
2. produk apa yang terjual di urutan ketiga hingga kelima?
3. produk apa yang penjualan nya terbanyak?
4. ambil data produk dengan penjualan terbanyak kedua sampai keempat dan urutkan berdasarkan jumlah yang terjual.

In [14]:
produk_jan = [
    {"nama":"Laptop","jumlah_terjual":150},
    {"nama":"Smartphone","jumlah_terjual":200},
    {"nama":"Tablet","jumlah_terjual":120},
    {"nama":"Smartwatch","jumlah_terjual":180},
    {"nama":"Kamera","jumlah_terjual":90},
    {"nama":"Headphone","jumlah_terjual":220},
    {"nama":"Speaker","jumlah_terjual":140},
    {"nama":"Printer","jumlah_terjual":60}
]

In [21]:
#1. produk kedua terjual ?
produk_kedua=produk_jan[1]

In [22]:
produk_kedua

{'nama': 'Smartphone', 'jumlah_terjual': 200}

In [24]:
#2. produk terjual di urutan ketiga hingga ke lima
case_2=produk_jan[4:6]
print("produk ketiga dan kelima",case_2)

produk ketiga dan kelima [{'nama': 'Kamera', 'jumlah_terjual': 90}, {'nama': 'Headphone', 'jumlah_terjual': 220}]

In [25]:
#3. produk yang penjualannya terbanyak
produk_terbanyak = sorted(produk_jan,key=lambda x:x["jumlah_terjual"],reverse=True)[0]
print("produk terbanyak:",produk_terbanyak)

#note jika ingin mengurutkan ke terkecil bisa menggunakan sorted tanpa menggunakan reverse ya...

produk terbanyak: {'nama': 'Headphone', 'jumlah_terjual': 220}

In [29]:
#4. urutkan penjualan terbanyak kedua sampai keempat dan urutkan berdasarkan jumlah terjual
case_4 = sorted(produk_jan,key=lambda x:x["jumlah_terjual"],reverse=True)

In [30]:
produk_terbanyak=case_4[1:4]
print("penjualan terbanyak kedua sampai keempat",produk_terbanyak)

penjualan terbanyak kedua sampai keempat [{'nama': 'Smartphone', 'jumlah_terjual': 200}, {'nama': 'Smartwatch', 'jumlah_terjual': 180}, {'nama': 'Laptop', 'jumlah_terjual': 150}]

### Soal 2

Anda bekerja sebagai seorang data analyst di rumah sakit besar. Anda diberikan data pasien dalam bentuk list of dictionaries, di mana setiap dictionary menyimpan informasi tentang pasien seperti nama, usia, riwayat kesehatan, dan hasil tes mingguan. Tugas Anda adalah melakukan beberapa operasi indexing dan slicing untuk menjawab pertanyaan-pertanyaan berikut:

1. ambil data hasil tes minggu ketiga untuk semua pasien
2. ambil data pasien dengan hasil tes minggu pertama tertinggi
3. ambil nama pasien dengan hasil tes mingguan stabil (rentang hasil tes mingguan <=5)
4. buat list baru yang berisi pasien dengan usia lebih dari 50 tahun dan hasil tes minggu terakhir dibawah 150.

In [31]:
data_pasien = [
    {"nama": "John Doe", "usia": 30, "riwayat_kesehatan": ["Diabetes"], "hasil_tes": [110, 115, 120, 130, 125, 118, 116]},
    {"nama": "Jane Smith", "usia": 45, "riwayat_kesehatan": ["Hipertensi"], "hasil_tes": [135, 140, 138, 142, 139, 137, 136]},
    {"nama": "Alice Johnson", "usia": 50, "riwayat_kesehatan": ["Kolesterol Tinggi"], "hasil_tes": [190, 185, 188, 187, 186, 184, 182]},
    {"nama": "Bob Brown", "usia": 60, "riwayat_kesehatan": ["Diabetes", "Hipertensi"], "hasil_tes": [145, 148, 147, 150, 149, 151, 148]}
]

In [33]:
#1. hasil tes minggu ketiga semua pasien
minggu_ketiga = [pasien["hasil_tes"][2] for pasien in data_pasien]
print("hasil tes minggu ketigas pasien",minggu_ketiga)

hasil tes minggu ketigas pasien [120, 138, 188, 147]

In [35]:
#2. data pasien dengan hasil tes minggu pertama tertinggi
pasien_tes_tertinggi = max(data_pasien, key=lambda pasien:pasien["hasil_tes"][0])
print("hasil tes pasien tertinggi minggu pertama",pasien_tes_tertinggi)

hasil tes pasien tertinggi minggu pertama {'nama': 'Alice Johnson', 'usia': 50, 'riwayat_kesehatan': ['Kolesterol Tinggi'], 'hasil_tes': [190, 185, 188, 187, 186, 184, 182]}

In [49]:
#3. nama pasien dengan hasil tes mingguan stabil (rentang hasil tes mingguan <=5)
pasien_stabil = [pasien["nama"] for pasien in data_pasien if max(pasien["hasil_tes"])- min(pasien["hasil_tes"])<=5]
print("pasien stabil:",pasien_stabil)

#kenapa hasilnya kosong? karena tidak ada pasien dengan rentan hasil kurang dari 5

pasien stabil: []

In [51]:
pasien_stabil = [pasien["nama"] for pasien in data_pasien if max(pasien["hasil_tes"])- min(pasien["hasil_tes"])<=7]
print("pasien stabil:",pasien_stabil)

pasien stabil: ['Jane Smith', 'Bob Brown']

In [53]:
#4. list baru yang berisi pasien dengan usia lebih dari 50 tahun dan hasil tes minggu terakhir dibawah 150.
data_pasien_baru = [pasien for pasien in data_pasien if pasien["usia"]>50 and pasien["hasil_tes"][-1]<150]
print("data pasien berumur lebih dari 50 tahun dengan hasil tes minggu terakhir kurang dari 150",data_pasien_baru)

data pasien berumur lebih dari 50 tahun dengan hasil tes minggu terakhir kurang dari 150 [{'nama': 'Bob Brown', 'usia': 60, 'riwayat_kesehatan': ['Diabetes', 'Hipertensi'], 'hasil_tes': [145, 148, 147, 150, 149, 151, 148]}]

In [46]:
pasien_stabil = [pasien["nama"] for pasien in data_pasien if max(pasien["hasil_tes"]) - min(pasien["hasil_tes"])<=5]
print("Nama pasien dengan hasil tes mingguan stabil:", pasien_stabil)
# Output: Nama pasien dengan hasil tes mingguan stabil: ['Jane Smith']

Nama pasien dengan hasil tes mingguan stabil: []